*{
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
    text-decoration: none;
}
.btn__link{
    display: inline-block;
    font-size: 16px;
    line-height: 24px;
    font-weight: 500;
    padding: 1px 15px;
    background: green;
    color: #fff;
    border-radius: 5px;
}